.container {
  width: 300px;
  background-color: var(--color-secondary);
  padding: var(--padding-large);
  border-radius: var(--radius-default);
}

.label {
  font-weight: bold;
}

.cards {
  padding: 20px;
}